-# .chat-title
-#   .chat-title__explanation
-#     %h1 Group-chat
-#   .header-a
-#     .header-a__group
-#       %h2.header__group__name
-#         = @group.name
-#       %p.header__group__member 
-#         Member :
-#         - @group.users.each do |user|
-#           = user.nickname



.side-bar
  .header
  
   
        
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message