.wrapper
  = render "tweets/modules/side_bar"
  = render 'messages/side_bar'
  = render 'messages/chat_header'

.group-title
  .tweet-title__explanation
    %h1 chat
  
  .group-title__header
    %p.group-new

