
// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ---background-color-list---------------
  // side-ber
  $background-color1: #253141; //header
  $background-color2: #2f3e51; //group-list
  // chat-main
  $background-color3: #ffffff; //header
  $background-color4: #fafafa; //message
  $background-color5: #d2d2d2; //form
  $background-color6: #38aef0; //send-btn
//----------------------------------------


// ---color-------------------------------
  // side-ber
  $font-color1: #ffffff;
  // chat-main
  $font-color2: #333333; //header__name
  $font-color3: #999999; //header__member
  $font-color4: #38aef0; //header__group-edit
  $font-color5: #333333; //message__left__name
  $font-color6: #434A54; //message__left__date
  $font-color7: #434a54; //message__comment
  $font-color8: black;   //form__
  $font-color9: white;   //form__
//----------------------------------------

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;


.chat-title {
  width: calc(100% - 210px - 350px);
  height: 70px;
  background-color: #eee;
  position: fixed;
  top: 30px;
  left: 210px;
  &__explanation {
    h1 {
      text-align: center;
    }
  }
  .header-a{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__group {
      display: flex;
  
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      .member-image {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: gray;
      }
    }
  }
}


.chat-main {
  width: calc(100% - 210px - 350px);
  height: calc(100% - 100px);
  background-color: #fff;
  position: fixed;
  overflow: scroll;
  margin-top: 100px;
  top: 0;
  left: 210px;

  .message {
    .messages {
      .messages__left {
        display: flex;
        line-height: 30px;
        &__name {
          display: flex;
          color: $font-color5;
          font-size: 12px;
          font-weight: bold;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .chat-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
        &__date {
          font-size: 12px;
          color: $font-color6;
          margin-left: 5px;
        }
      }
      &__comment {
        color: $font-color7;
        font-size: 14px;
      }
    }
  }



  .forms {
    width: calc(100% - 210px - 350px);
    background-color: gray;
    height: 52px;
    position: fixed;
    bottom: 0;
    left: 210px;
    padding: 0 3px;
    background-color: $background-color5;
    form {
      display: flex;
      .form {
        display: flex;
        width: 100%;
        position: relative; 
        .form__text {
          width: 100%;
          height: 50px;
          padding: 0 40px 0 10px;
        }
        .input {
          .input__file {
            .image {
              position: absolute;
              top: 10px;
              right: 10px;
              color: $font-color8;
              font-size: 30px;
            }
            .file {
              display: none;
            }
          } 
        }
      }
    }
      .send-btn {
        color: $font-color9;
        background-color: gray;
        height: 50px;
        width: 100px; 
      }
  }
}