.tweet-header {
  height: 30px;
  width: calc(100% - 210px - 350px);
  background-color: #222;
  position: fixed;
  top: 0;
  left: 210px;
  font-size: 12px;
  display: flex;
  a {
    color: #eee;
  }
  input.search-input {
    height: 25px;
    width: 200px;
    margin: 2px 0 0 2px;
  }
  input.search-btn {
    height: 25px;
    width: 30px;
  }

  .grid-1 {
    margin-left: 10px;
    line-height: 27px;
  }

  .grid-2 {
    line-height: 27px;
  }
}