.subbar {
  width: 350px;
  height: 100%;
  background-color: #2f323a;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  right: 0;;
  z-index: 5;
  padding: 20px;
  &__nav {
    // width: 80%;
    // height: 200px;
    // background-color: #eee;
    // .left-block {
    //   width: 50%;
    //   height: 50px;
    // }
    // .right-block {
    //   width: 50%;
    //   height: 50px;
    // }
  }





  .ranking {
    &__num {
      &__user {
        .ranking-contentsr {
          .display: flex;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .ranking-image {
            width: 30px;
            height: 30px;
            background-color: gray;
            border-radius: 50%;
          }
        }
      }
    }
  }
}