.user-follow_lists {
  width: calc(100% - 210px - 350px);
  height: calc(100% - 270px);
  position: fixed;
  overflow: scroll;
  top: 275px;
  left: 210px;
  
  .row {
    width: 100%;
    height: 130px;
    padding: 1px;
 
    .col-md-4{
    
  
    }
    .stats {
      
      .follow_list {
        display: flex;
        border: 1px solid #ddd;
      }
    }

   
    img {
      width: 130px;
      height: 130px;
    }
    .follow-image {
      width: 130px;
      height: 130px;
      background-color: #111;
    }
  }
}