.subbar
  .subbar__nav
    %h1 機能の説明
    %h2 TWEET機能
    %p 投稿/詳細/編集/削除/検索機能
    %br
    %br
    %h2 いいね機能
    %p 付与/削除
    %br
    %br
    %h2 コメント機能
    %p 投稿/削除
    %br
    %br
    %h2 チャット機能
    %p グループ作成/投稿
    
    
